<!DOCTYPE html>
<html>
  <head>
    <title>UserService</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
  <%=render 'globals/header'%>
  <%#=render 'globals/sidebar'%>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
